@mixin fullHeight {
    height: 100%;
}

html {
    font-size: 100%;
    @include fullHeight();
    font-smooth: antialiased !important;
    -webkit-font-smoothing: antialiased !important;
    -z-osx-font-smoothing: grayscale !important;
    // background-color: white;
}

body {
    @include fullHeight();
}

.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.no-drag {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}
